.card {
  background-color: white;
  border: 2px solid blue;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
}

.floor-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.server-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .tables-container {
    display: flex;
    justify-content: center;
  }

  .tables {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 1000px;
  }

  .table-info {
    margin-top: 20px;
    border: 2px solid blue;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    background-color: white;
  }

  .table-info-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid blue;
    padding: 10px 0;
  }

  .table-info-row:first-child {
    border-top: none;
  }